@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Sunflower:wght@300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

.bg-img {
    background-image: url(../image/bodyimg.png);
}

.container {
    max-width: 1140px !important;
}

nav ul li a::before {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: -2%;
    transition: .3s;
    background-color: #FFF;
}

nav ul li a {
    position: relative;
}

nav ul li a:hover::before {
    width: 100%;
    left: 0;
}

.logo {
    width: 156px;
}

.gap-40 {
    gap: 40px;
}

.row {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.align-item {
    align-items: center;
}

.font {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.font1 {
    color: #FFF;
    font-family: Sunflower;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.justify-content {
    justify-content: space-between;
}

.btn {
    width: 53px;
    height: 19px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    background: none;
    border: none;
    color: #f3f5fa;
    cursor: pointer;
}

.btn1 {
    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #000000;
    background-color: white;
    color: #040404;
    font-family: Sunflower;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    border: none;
}

.font2 {
    color: #FFF;
    font-family: Sunflower;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.pl-150 {
    padding-left: 150px;
}

.pl-40 {
    padding-left: 40px;
}

.ml-30 {
    margin-left: 30px;
}

.head-card-text {
    color: #FFF;
    font-family: Sunflower;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    margin-bottom: 0 !important;
}

.relative {
    position: relative;
}

.pos-ab {
    position: absolute;
    rotate: -25deg;
    z-index: 1;
    top: 25%;
    right: 0;
}

.pos-abl {
    position: absolute;
    rotate: -15deg;
    z-index: 2;
    top: 25%;
    right: 0;
}

.pos-abs {
    position: absolute;
    z-index: 3;
    top: 25%;
    right: 0;
}

.pt-168 {
    padding-top: 168px;
}

.errow {
    margin-top: 30px;
    margin-bottom: 85px;
}

.btn2 {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: #e34f4f;
    border: none;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.pt-45 {
    padding-top: 45px;
}

#menu span {
    height: 4px;
    width: 40px;
    background-color: rgb(244, 241, 241);
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

.bg-head {
    background-image: url(../image/headimg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ellepis1 {
    width: 184px;
    height: 184px;
    background: #FFF;
    filter: blur(120px);
    position: absolute;
    left: -4%;
    border-radius: 50%;
    z-index: -1;
}

.ellepis2 {
    width: 182px;
    height: 182px;
    background: #FFF;
    filter: blur(120px);
    position: absolute;
    right: -4%;
    bottom: 42%;
    border-radius: 50%;
    z-index: -1;
}

.ellepis3 {
    width: 209px;
    height: 209px;
    background: #FFF;
    filter: blur(120px);
    position: absolute;
    left: -4%;
    top: 35%;
    z-index: -1;
    border-radius: 50%;
}

.ellepis4 {
    width: 226px;
    height: 226px;
    background: #FFF;
    filter: blur(120px);
    position: absolute;
    right: -10%;
    bottom: 65%;
    border-radius: 50%;
    z-index: -1;
}

.footline {
    width: 100%;
    height: 1px;
    background: #FFF;
    overflow: hidden;
}

.head-h1 {
    color: #FFF;
    font-family: Sunflower;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 108.687%;
    text-transform: uppercase;
    width: 100%;
}

.pt-120 {
    padding-top: 70px;
}

.gap-10 {
    gap: 10px;
}

.para-head {
    color: #FFF;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.btn3 {
    color: #040404;
    font-family: Sunflower;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 82px;
    background: #FFF;
    border: #FFF;
    cursor: pointer;
}

.btn4 {
    color: #FFF;
    background: transparent;
    font-family: Sunflower;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border-radius: 82px;
    border: 1px solid #FFF;
    display: flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;
}

.btn5 {
    color: #0f0f0f;
    background: transparent;
    font-family: Sunflower;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    border-radius: 82px;
    border: 1px solid #0c0b0b;
    display: flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;
    transform: all 200ms linear;
    border: 1px solid black;
}

.spn1 {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
}

.sec5 {
    color: var(--White, #FFF);
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    max-width: 570px;
}

.mb-120 {
    margin-bottom: 120px;
}

.pt-160 {
    padding-top: 160px;
}

.cards {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px -1px 20px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(15px);
    display: inline-flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.d-end {
    display: flex;
    align-items: end;
    justify-content: end;
}

.footer-img:hover {
    box-shadow: 0px 4px 15px 0px rgba(255, 255, 255, 0.10);
}

.footer-img {
    max-width: 369px;
}

.elepis {
    width: 147px;
    height: 147px;
    background-color: #FFF;
    position: absolute;
    top: 15%;
    filter: drop-shadow(0px 4px 16px rgba(255, 255, 255, 0.10));
    border-radius: 50%;
}

.pb-20 {
    padding-bottom: 20px;
}

.sec2-h2 {
    color: #FFF;
    font-family: Sunflower;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    line-height: 108.687%;
    text-transform: uppercase;
    text-align: center;
}

.white-line1 {
    top: -25px;
    position: absolute;
    right: 10%;
}

.white-line2 {
    top: -25px;
    position: absolute;
    right: -40%;
}

.sec3-card {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
height: 100%;
}
.top-line{
    left: 25px;
    position: absolute;
    top: -13px;
}
.bottom-line1{
    position: absolute;
    left: 0;
    bottom: -5px;
}
.sec3-p1 {
    color: var(--White, #FFF);
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0 !important;
}

.sec3-p2 {
    color: #FFF;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.7;
}
.pt-56{
    padding-top: 56px;
}
.pb-121{
    padding-bottom: 121px;
}
.sec2-card {
    display: flex;
    padding: 16px;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px -1px 20px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(15px);
}

.mt-50 {
    margin-top: 50px !important;
}

.pt-75 {
    padding-top: 75px;
}

.bg-white1 {
    background-image: url(../image/bg-white-sec4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh !important;
}

.circlehover:hover .sec3-card {
    border-radius: 12px;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
}

.mb-20 {
    margin-bottom: 20px;
}

.sec4-h2 {
    color: black;
    font-family: Sunflower;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    line-height: 108.687%;
    text-transform: uppercase;
    text-align: center;
    padding-top:170px;
}


.mt-70 {
    margin-top: 70px;
}

.mb-70 {
    margin-bottom: 70px;
}

.white-line3 {
    position: absolute;
    top: -50%;
    left: -65%;
}

.mb-100 {
    margin-bottom: 100px;
    margin-top: 40px;
}
ul {
    padding-left: 0 !important;
}

.black-line1 {
    position: absolute;
    top: -42%;
    right: -29%;
}

.circlehover:hover .ellepis5 {
    background-color: #FFF;
    display: flex;
    color: #FFF;
    position: absolute;
    z-index: 0;

}

.ellepis5 {
    width: 73px;
    height: 74px;
    background: #FFF;
    border-radius: 50%;
    position: absolute;
    bottom: 85%;
    right: -10%;
    display: none;

}

.center {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.mw-532 {
    max-width: 532px;
}
.pt-11{
    padding-top: 11px;
}
.pt-20 {
    padding-top: 10px;
}

.sec4-p1 {
    color: var(--Black, #040404);
    text-align: center;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.pt-30 {
    padding-top: 30px;
}

.c-p {
    cursor: pointer;
}

.last-line {
    color: var(--White, #FFF);
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    opacity: 0.7;
    text-align: center;
    padding-top: 25px;
}

.sec4:hover {
    transform: scale(1.2);
    z-index: 3;

}

.sec4:hover .over {
    display: flex;
}


.gap-20 {
    gap: 20px;
}

.mw-392 {
    max-width: 392px;
}

.project:hover+.blur-line {
    display: flex;
}

.project {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.sec4 {
    transition: all 300ms linear;
}

.pt-10 {
    padding-top: 10px;
}

.bottom-line {
    content: "";
    width: 100%;
    height: 1px;
    background: #FFF;
}

.overflow-hide {
    overflow: hidden;
}

.mt-20 {
    margin-top: 20px;
}

.over {
    border-radius: 0px 0px 8px 8px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px -1px 11px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(4.5px);
    height: 47px;
    width: 100%;
    bottom: 0;
    display: none;
}
.footlogo{
    width: 100%;
}
.pt-101{
    padding-top: 101px;
}
.ptop-75{
    padding-top: 75px;
}
@media (max-width:577.98px) {
    .white-line1 {
        display: none;
    }
    .footerlogo{
        max-width: 160px;
        height: 60px;
    }
    .btn3{
        font-size: 14px;
    }
    .btn4{
        font-size: 14px;
    }
    .top-line{
        display: none;
    }
    .bottom-line1{
        display: none;
    }
    .white-line2 {
        display: none;
    }

    .white-line3 {
        display: none;
    }

    .black-line1 {
        display: none;
    }

    .ellepis2 {
        display: none;
    }

    .ellepis1 {
        display: none;
    }

    .ellepis3 {
        display: none;
    }

    .ellepis4 {
        display: none;
    }

    .para-head {
        font-size: 14px;
    }

    .head-h1 {
        font-size: 35px;
    }
    .pb-121{
        padding-bottom: 20px;
    }
    .pt-120{
        padding-top: 20px;
    }

}

@media (max-width:767.98px) {
.ptop-75{
    padding-top: 0;
}
.sec4-h2{
    padding-top: 20px;
}
}

@media (max-width:991.98px) {
    .head-h1 {
        text-align: center;
    }

 .mtop-100 {
        margin-top: 50px;
    } 
    .bg-head{
        background-size: cover;
    }
    .para-head {
        text-align: center;
    }

    .center-btn {
        justify-content: center;
    }

    .sec2-card {
        justify-content: center;
        display: flex;
    }
    .ellepis5 {
        width: 73px;
        height: 74px;
        background: #FFF;
        border-radius: 50%;
        position: absolute;
        bottom: 75%;
        right: -5%;
        display: none;
    
    }

    .sec3-card {
     width: 100%;
        margin-top: 20px;
        justify-content: center;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .center {
        height: 100%;
    }

    .ptop-50 {
        padding-top: 50px;
    }

}

@media(max-width:1012px) {
    .mobileView {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        right: -100%;
        transition: all 1000ms linear;
        background-color: rgb(105, 132, 132);
    }

    .bg-white1 {
        background: white;
    }

    .mobileView.show {
        right: 0;
    }

    .gap {
        gap: 40px;
    }

    .ml-30 {
        margin-left: 0;
    }

    .pl-150 {
        padding-left: 0;
    }

    #menu {
        z-index: 3;
        position: absolute;
        right: 1%;
    }

    .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media(min-width:1012px) {
    #menu {
        display: none;
    }

    .justify-content_lg_between {
        justify-content: space-between
    }

}